/* Reset some default browser styling */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
}

header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  font-size: x-large;
}

@media (max-width: 769px) {
  .header-content {
    font-size: large;
  }
}

.header-content nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.header-content nav li {
  margin: 0 20px;
}

.header-content nav a {
  color: white;
  text-decoration: none;
}

main {
  margin-top: 80px;
  /* Ensure the main content is not hidden behind the fixed header */
  margin-bottom: 80px;
}

.about-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text {
  text-align: center;
}

.photo img {
  width: 50%;
  height: 50%;
  border-radius: 8px;
  margin: 10px;
}

@media (min-width: 769px) {
  .photo img {
    width: 30%;
    height: 30%;
    margin: 20px;
  }
}

.about-content .description {
  text-align: center;
}

#Projects {
  display: none;
  /* Initially hidden */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.project {
  position: relative;
  /* Ensure proper positioning for anchor */
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  /* Ensure anchor fills entire container */
  text-decoration: none;
}

.project a {
  display: block;
  width: 100%;
  /* Fill the entire container */
  height: 100%;
  /* Fill the entire container */
  /* Remove default anchor styles */
  color: inherit;
  /* Inherit text color */
}

/* Hover effect for clickable projects */
.project:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Example hover effect */
}

.project h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.project .description {
  font-size: 16px;
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
}

.project .tech-stack {
  font-size: 14px;
  color: #666;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.footer-content nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer-content nav li {
  margin: 0 10px;
}

.footer-content nav a {
  color: white;
  text-decoration: none;
}